// Apply a natural box layout model to all elements
// but allowing components to change
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html,
body {
    min-width: 100%;
    min-height: 100%;
}

body {
    overflow: hidden;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sea {
    fill: rgb(174, 236, 255);
    fill: rgb(17, 83, 104)
}

.land {
    fill: rgb(141, 230, 153);
    fill: rgb(132, 192, 117);
    fill: rgb(24, 122, 37);
    fill: rgb(219, 219, 207);
    fill: rgb(113, 141, 109);
}
